@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway:ital,wght@0,200;0,400;0,600;1,400&display=block');

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    width: 100%;
    font-family: var(--primary-font), sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    color: var(--dark-color);
    background: var(--light-color);
}

a {
    color: var(--main-color);
    text-decoration: none;
}
