:root {
    /* Colors */
    --main-color: hsl(195, 100%, 40%);
    --dark-color: hsl(0, 0%, 7%);
    --light-color: hsl(0, 0%, 100%);
    --grey-color: hsl(195, 10%, 60%);

    /* Typography */
    --primary-font: 'Raleway', sans-serif;
}
